
<div class="ht-head d-flex flex-row">
  <h6>
    <a href="/"><img class="back-key" src="/assets/previous.png" alt="" /></a>
  </h6>
  <h5>My Qr</h5>
</div>
<div class="qr-container">
  <h2>Scan QR TO Pay</h2>
  <img src="<%= qr %>" alt="" />
  <h3><%= phone %></h3>
</div>
<%- include('../layouts/menu.ejs') %>
