<div
  class="fixed-bottom footer"
  style="display: flex; justify-content: space-around; align-items: center"
>
  <div class="footer-item">
    <a href="/">
      <div class="ft-item">
        <img src="/assets/home-svgrepo-com.svg" alt="" />
        <h6>Home</h6>
      </div>
    </a>
  </div>

  <div class="footer-item">
    <a href="/myQr">
      <div class="ft-item">
        <img src="/assets/qr-code-svgrepo-com.svg" alt="" />
        <h6>My QR</h6>
      </div>
    </a>
  </div>
  <div class="footer-item">
    <a href="/scanQr">
      <div class="ft-item">
        <img src="/assets/qr-code-svgrepo-com (1).svg" alt="" />
        <h6>QR Pay</h6>
      </div>
    </a>
  </div>
  <div class="footer-item">
    <a href="/profile">
      <div class="ft-item">
        <img src="/assets/profile-svgrepo-com.svg" alt="" />
        <h6>Profile</h6>
      </div>
    </a>
  </div>
</div>
