<div>
  <label for="phone">Phone</label>
  <input
    type="phone"
    id="phone"
    required
    name="phone"
    class="form-control mb-3"
    autocomplete="false"
  />
</div>
<div>
  <label for="password">Password</label>
  <input
    type="password"
    id="password"
    required
    name="password"
    class="form-control mb-3"
    autocomplete="false"
  />
</div>
<button type="submit" class="btn btn-md" style="background-color: brown;color: #fafafa;">Login</button>
