<div class="input-group flex-nowrap mb-3">
  <span class="input-group-text" id="addon-wrapping">09</span>
  <input type="text"
  id="phone"
  aria-describedby="basic-addon1"
  required
  name="phone"
  class="form-control"
  autocomplete="false" placeholder="Phone" aria-label="Username" aria-describedby="addon-wrapping">
</div>

<div>
  <input
    type="password"
    id="password"
    required
    name="password"
    class="form-control mb-3"
    autocomplete="false"
    placeholder="Password"
  />
</div>


<button type="submit" class="btn btn-md" style="background-color: brown;color: #fafafa;">Login</button>
