<div>
  <label for="name">Name</label>
  <input type="text" id="name" placeholder="Name" name="name" required />
</div>
<div>
  <label for="email">Email</label>
  <input type="email" id="email" placeholder="Email" name="email" required />
</div>
<div>
  <label for="phone">Phone</label>
  <input type="phone" id="phone" placeholder="Phone" name="phone" required />
</div>
<div>
  <label for="sex">Gender</label>
  <select name="sex" id="sex">
    <option value="M">Male</option>
    <option value="F">Female</option>
    <option value="O">Other</option>
  </select>
</div>
<div>
  <label for="password">Password</label>
  <input
    type="password"
    id="password"
    placeholder="Password"
    name="password"
    required
  />
</div>
<button type="submit">Register</button>
