<div>
  <div>
    <label for="password">New Password</label>
    <input
      type="password"
      id="password1"
      required
      name="password1"
      class="form-control mb-3"
      autocomplete="false"
    />
  </div>
  <div>
    <label for="password">Comfirm Password</label>
    <input
      type="password"
      id="password2"
      required
      name="password2"
      class="form-control mb-3"
      autocomplete="false"
    />
  </div>
  <button type="submit" class="btn btn-md btn-primary">Comfirm</button>
</div>
