<h1>Hello <%= user.name %></h1>
<h3>Current: <%= user.balance %> Ks</h3>

<form action="/logout?_method=DELETE" method="POST">
  <button type="submit">LogOut</button>
</form>

<a href="/transations/send">Send</a>
<a href="/transations">Transation</a>
