<h1>Send</h1>
<h3><%= locals.message %></h3>
<form action="/transations/send" method="POST">
  <input type="text" name="phone" required />
  <input type="number" name="ammount" required />
  <button type="submit">Send</button>
</form>
